@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  background-color: #6B3CC9;
}
body {
  background-color: #6B3CC9;
}

.bg1 {
  background-image: url('D:/AT LAB/Task/src/assets/bg1.png');
  /* additional background properties if needed */
  background-size: cover;
  background-position: center;
  
}
